# Set c compiler
export CC=$(brew --prefix llvm)/bin/clang
export CXX=$(brew --prefix llvm)/bin/clang++

# some basic utility
export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
export PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"
export PATH="/usr/local/opt/grep/libexec/gnubin:$PATH"
export PATH="/usr/local/opt/curl/bin:$PATH"

# rust
export PATH="$HOME/.cargo/bin:$PATH"

# golang
export GOROOT="$(brew --prefix golang)/libexec"
export GOPATH="$HOME/go"
export PATH="$GOPATH/bin:$PATH"

# some binary
export PATH="$HOME/bin:$PATH"

# nvm dir
export NVM_DIR="$XDG_CONFIG_HOME/nvm"

